.idea
nbproject
*.sublime-project
*.sublime-workspace
.editorconfig
typings
jspm_packages
link-checker-results.txt
.npmignore
demo
e2e
_test-output
_temp
*.ts
bs-config.json
gulpfile.*
karma*.js
protractor*.js
systemjs.config.*
tsconfig.json
tslint.json