.ng-grid {
  border-bottom: 1px solid #ccc;
}

.ng-grid table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.ng-grid-header.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ng-grid-header::-webkit-scrollbar {
  visibility: hidden;
}

.ng-grid-header::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ng-grid-header table th {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
}

.ng-grid-body table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.ng-grid-body table tr:first-child td {
  border-top: 0;
}

.ng-grid-body table tr:last-child td {
  border-bottom: 0;
}

.ng-grid-body.scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

.ng-grid-footer {
}
