.ng-grid {
}

.ng-grid table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.ng-grid table th,
.ng-grid table td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.ng-grid table th:last-child,
.ng-grid table td:last-child {
  border-right: 0;
}

.ng-grid table tr:last-child td {
  border-bottom: 0;
}

.ng-grid-header {
  border: 1px solid #ccc;
}

.ng-grid-header.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ng-grid-header::-webkit-scrollbar {
  visibility: hidden;
}

.ng-grid-header::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ng-grid-header table tr:first-child th,
.ng-grid-header table tr:first-child td {
  border-top: 0;
}

.ng-grid-heading {
  cursor: pointer;
  text-align: left;
  background: #f9f9f9;
}

.ng-grid-heading.sort {
}

.ng-grid-heading.sort-disable {
  cursor: auto;
}

.ng-grid-heading.selection {
  cursor: auto;
  width: 30px;
  text-align: center;
}

.ng-grid-heading.sort:before {
    content: " ";
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
}

.ng-grid-heading.sort-asc:before {
    border-width: 0 5px 5px;
    border-color: transparent transparent #666;
}

.ng-grid-heading.sort-desc:before {
    border-width: 5px 5px 0;
    border-color: #666 transparent transparent;
}

.ng-grid-filter {
  background: #f9f9f9;
}

.ng-grid-filter input,
.ng-grid-filter select {
  width: 100%;
  padding: 5px;
}

.ng-grid-body {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ng-grid-body p {
  text-align: center;
  margin: 0;
  padding: 15px;
}

.ng-grid-body table tr.alt {
  background: #f9f9f9;
}

.ng-grid-body table tr.hover:hover {
  background: #c4e3f3;
}

.ng-grid-body table tr.select,
.ng-grid-body table tr.select:hover {
  color: #fff;
  background: #059eff;
}


.ng-grid-body table tr:first-child td {
  border-top: 0;
}

.ng-grid-body table tr:last-child td {
  border-bottom: 0;
}

.ng-grid-body.scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

.ng-grid-cell {
}

.ng-grid-cell.selection {
  width: 30px;
  text-align: center;
}

.ng-grid-footer {
  margin-top: 10px;
}

.ng-grid-pager a,
.ng-grid-pager span,
.ng-grid-pager-size a,
.ng-grid-pager-size span,
.ng-grid-pager-size select {
  margin: 0 5px;
}

.ng-grid-pager {
}

.ng-grid-pager-size {
}

.ng-grid-pager.left,
.ng-grid-pager.left *:first-child
.ng-grid-pager-size.left,
.ng-grid-pager-size.left *:first-child {
  float: left;
  margin-left: 0;
}

.ng-grid-pager.right,
.ng-grid-pager.right *:last-child,
.ng-grid-pager-size.right,
.ng-grid-pager-size.right *:last-child {
  float: right;
  margin-right: 0;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
