.ng-grid {
  border-bottom: 1px solid #ccc;
}

.ng-grid table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.ng-grid-header.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ng-grid-header::-webkit-scrollbar {
  visibility: hidden;
}

.ng-grid-header::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ng-grid-header table th {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ng-grid-header table th.ng-grid-heading.sort-disable {
  cursor: auto;
}

.ng-grid-heading.sort {
}

.ng-grid-heading.sort:before {
    content: " ";
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
}

.ng-grid-heading.sort-asc:before {
    border-width: 0 5px 5px;
    border-color: transparent transparent #666;
}

.ng-grid-heading.sort-desc:before {
    border-width: 5px 5px 0;
    border-color: #666 transparent transparent;
}

.ng-grid-body table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.ng-grid-body table tr:first-child td {
  border-top: 0;
}

.ng-grid-body table tr:last-child td {
  border-bottom: 0;
}

.ng-grid-body.scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

.ng-grid-footer {
}
