<div class="ng-grid">
  <div class="ng-grid-header" [style.width]="options.get('width')"
      [class.scroll]="options.get('height')">
    <table [class]="getHeadingCssClass()" [style.width]="options.get('width')">
      <thead *ngIf="options.get('heading')">
        <tr>
          <th *ngIf="options.get('selection')" class="ng-grid-heading selection">
            <input #selectAll type="checkbox"
                (click)="onSelectAllCheckboxClick(selectAll.checked)">
          </th>
          <th *ngFor="let column of columns" class="ng-grid-heading"
              [style.width]="column.width" [attr.data-id]="column.name"
              [class.sort]="isSortedBy(column)"
              [class.sort-asc]="isSortedBy(column, 'asc')"
              [class.sort-desc]="isSortedBy(column, 'desc')"
              [class.sort-disable]="!isSortingAllowed(column)"
              (click)="onHeadingClick($event)">
            {{column.resolveHeading()}}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="options.get('filtering')">
        <tr>
          <td *ngIf="options.get('selection')" class="ng-grid-filter selection"></td>
          <td *ngFor="let column of columns" class="ng-grid-filter">
            <input type="text" *ngIf="isTextFilterEnabled(column)"
                (keyup.enter)="onInputFilterEnter($event, column)"
                (blur)="onInputFilterBlur($event, column)" />
            <select *ngIf="isSelectFilterEnabled(column)"
                [ngModel]="dataProvider.filters[column.name]"
                (ngModelChange)="onSelectFilterChange($event, column)">
              <option></option>
              <option *ngFor="let item of column.items"
                  value="{{item[column.valueField]}}">
                {{item[column.textField]}}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ng-grid-body" [style.width]="options.get('width')"
      [class.scroll]="options.get('height')" [style.max-height]="options.get('height')">
    <table [class]="getBodyCssClass()" [style.width]="options.get('width')">
      <tbody>
        <tr *ngFor="let row of data; let i = index"
            [style.background]="getAlternateBackground(i)">
          <td *ngIf="options.get('selection')" class="ng-grid-cell selection">
            <input type="checkbox"
                [(ngModel)]="row.selected"
                (click)="onSelectItemCheckboxClick(row)">
          </td>
          <td *ngFor="let column of columns" class="ng-grid-cell"
              [style.width]="column.width"
              [style.text-align]="column.textAlign">
            <span *ngIf="column.template">
              <ng-grid-cell-renderer [column]="column" [data]="row">
              </ng-grid-cell-renderer>
            </span>
            <span *ngIf="!column.template">
              {{column.resolveCell(row)}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ng-grid-footer clearfix">
    <div class="ng-grid-pager {{options.get('pageElementPosition')}}" *ngIf="options.paging">
      <span>Pages:</span>
      <a href="#" *ngIf="pageIndex > 1" [attr.data-page]="1"
        (click)="onPageButtonClick($event)">First</a>
      <a href="#" *ngIf="pageIndex > 1" [attr.data-page]="getPageIndex() - 1"
        (click)="onPageButtonClick($event)">Prev</a>
      <template ngFor let-page [ngForOf]="pages">
        <a href="#" *ngIf="page != pageIndex" [attr.data-page]="page"
          (click)="onPageButtonClick($event)">{{page}}</a>
        <span *ngIf="page == pageIndex">{{page}}</span>
      </template>
      <a href="#" *ngIf="pageIndex < getTotalPages()"
        [attr.data-page]="getPageIndex() + 1"
        (click)="onPageButtonClick($event)">Next</a>
      <a href="#" *ngIf="pageIndex < getTotalPages()"
        [attr.data-page]="getTotalPages()"
        (click)="onPageButtonClick($event)">Last</a>
      <span>{{pageIndex}} of {{getTotalPages()}}</span>
    </div>
    <div class="ng-grid-pager-size {{options.get('pageSizeElementPosition')}}"
      *ngIf="isPageSizeOptionsEnabled()">
      <span>Page size:</span>
      <select [ngModel]="dataProvider.pageSize"
        (ngModelChange)="onPageSizeDropDownChange($event)">
        <option *ngFor="let value of options.get('pageSizeOptions')" [ngValue]="value">
          {{value}}
        </option>
      </select>
    </div>
  </div>
</div>